* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: rgb(24, 52, 130);
}

#wrapper {
  margin: 0 auto;
  min-width: 325px;
  width: 75%;
  max-width: 900px;
}

#wrapper > h3 {
  text-align: center;
  padding: 4rem 0 0;
  font-family: "Verdana", sans-serif;
  font-size: 40px;
  color: rgb(255, 222, 0);
}

#main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

.hide {
  opacity: 0;
  transition: .5s;
}

.show {
  opacity: 1;
  transition: .5s;
}