.card-container {
  display: flex;
  flex-direction: column;
  border: 1px solid slateblue;
  padding: .5rem 1rem;
  width: 150px;
}

.card-container > img {
  display: block;
  pointer-events: none;
}

.card-container > span {
  pointer-events: none;
  font-size: 16px;
  text-align: center;
  color: ghostwhite;
}

.hide {
  opacity: 0;
}