.card-container {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: .5rem 1rem;
  width: 150px;
  background-color: rgb(0, 0, 48);
}

.card-container > img {
  display: block;
  pointer-events: none;
}

.card-container > span {
  display: block;
  padding: .5rem 0;
  height: 2.75rem;
  pointer-events: none;
  font-family: "Verdana", sans-serif;
  font-size: 16px;
  text-align: center;
  color: ghostwhite;
}

.hide {
  opacity: 0;
}