.card-container {
  display: flex;
  flex-direction: column;
  border: 1px solid slateblue;
  padding: .5rem 1rem;
  width: 150px;
}

.card-container > img {
  display: block;
  border: 1px solid palevioletred;
  object-position: top left;
  pointer-events: none;
}

.card-container > span {
  text-align: center;
  pointer-events: none;
  font-size: 16px;
}

.hide {
  opacity: 0;
}